@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&family=Roboto+Slab:wght@900&family=Satisfy&display=swap");

:root {
  --light-blue: #c9e7f2;
  --sky-blue: #3734a9;
}

* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  font-family: "Manrope", sans-serif;
}
/* main container starts form here  */
.main-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--light-blue);
  max-height: 810px;
  overflow: hidden;
  padding: 60px 100px;
  z-index: 5;
}

.main-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav p {
  font-size: large;
  font-weight: 800;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  padding: 0 25px;
  text-decoration: none;
}
nav ul li a {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
}
nav ul li a .drop-down {
  padding: 0 5px;
}

nav ul :hover {
  scale: 1.1;
  font-weight: bold;
  border-radius: 20px;
}
.nav-btns {
  display: flex;
  padding-left: 180px;
  align-items: center;
}

nav ul .li-btns {
  display: flex;
  padding: 0 20px;
}
nav ul .start-btn {
  background-color: var(--sky-blue);
  color: white;
  padding: 8px 24px;
  border: none;
}
.Hero {
  display: flex;
  justify-content: space-between;
}
.hero-left-part {
  padding: 160px 0;
}
.hero-text h1 {
  width: 646px;
  color: #000;
  font-size: 60px;
  font-weight: 800;
}
.hero-text p {
  width: 510px;
  color: #64607d;
  font-size: 20px;
  line-height: 30px; /* 150% */
  letter-spacing: -0.4px;
}
.herobtns {
  display: flex;
  padding: 30px 0;
}
.herobtns button {
  margin: 0 30px 0 0;
  padding: 8px 24px;
  background-color: var(--sky-blue);
  width: 162px;
  height: 60px;
  color: #fff;
  font-size: 16px;
  border-radius: 47px;
  border: none;
}
.herobtns button:hover {
  scale: 1.1;
  font-weight: bold;
}
.workings-btn {
  display: inline-block;
  vertical-align: middle;
}
.workings-btn:hover {
  scale: 1.1;
  font-weight: bold;
  background-color: var(--sky-blue);
  color: white;
  padding: 0 15px 0 5px;
  border-radius: 47px;
}
.workings-btn img {
  vertical-align: middle;
  margin: 0 10px 0 0;
  width: 50px;
  height: 60px;
}
.checkings {
  margin: 65px 0;
}
.checkings span {
  margin: 0 10px;
}
.checkings img {
  vertical-align: middle;
}

/* .hero-right-part {
  z-index: 0;
} */

.bird-img {
  position: absolute;
  right: 0%;
  top: 15%;
}

.hands img {
  position: absolute;
  right: 20%;
  width: 309px;
  height: 766px;
}
.hero-dot-img {
  position: absolute;
  bottom: 5%;
  left: 0%;
}
.bluefill {
  position: absolute;
  bottom: -15%;
  right: 0%;
}

/* main container ends here  */

/* comapny details section starts form here  */
.companies-details {
  max-width: 100%;
  max-height: 239px;
  padding: 40px;
  justify-content: space-between;
  text-align: center;
  background-color: #f5f6f8;
}

.companies-details p {
  font-size: 22px;
  font-weight: 500;
  margin: 20px;
}
.companies {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.companies a img {
  width: 137.148px;
  height: 28.075px;
}
.companies a img:hover {
  scale: 1.2;
}
/* Companies section ends here  */

/* portfolio-tracking starts here  */
.portfolio-tracking {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 100px;
  display: flex;
  justify-content: center;
  gap: 200px;
}
.text-first h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 50px;
}
.text-first p {
  font-size: 20px;
  font-weight: 500;
  padding: 30px 0;
}
.quote-img {
  width: 44px;
  height: 44px;
}
.text-second .legend {
  border-radius: 20px;
  opacity: 0.8;
  background: #c4c4c4;
  padding: 25px;
}
.text-second p {
  font-weight: 600;
  font-size: 20px;
}
.text-second .authors-name {
  padding: 15px 0;
}
/* portfolio-tracking section ends here  */

/* services starts form here  */

.services {
  margin: 0 auto;
  padding: 60px 100px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 45px;
}

.company_service {
  border-radius: 20px;
  border: 1px solid #acb4b8;
  width: 350px;
  height: 372px;
}
.company_service h3 {
  padding: 10px;
}

.company_service img {
  margin: 35px 40%;
}
.company_service h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
}
.company_service p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
}

.company_service h1,
.company_service p {
  text-align: center;
}
/* services ends here  */

/* tracking section starts here  */

.Tracking {
  margin: 0 auto;
  padding: 60px 100px;
  display: flex;
  justify-content: space-between;
}

.Tracking .image-part {
  background-color: var(--light-blue);
  width: 531px;
  height: 480px;
  border-radius: 20px;
  padding: 50px;
}
.Tracking .image-part .cards-for-people {
  position: relative;
  margin: 15px;
  padding: 8px 20px;
  width: 433px;
  height: 85px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.02),
    0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.03);
  z-index: 100;
}
.Tracking .image-part .cards-for-people:hover {
  box-shadow: 5px 5px 5px rgb(31, 29, 29);
  scale: 1.01;
}

.Tracking .image-part .cards-for-people .people {
  display: inline-flex;
}
.Tracking .image-part .cards-for-people .people .text {
  padding: 15px;
}

.Tracking .image-part .cards-for-people .people .text .amount {
  width: 86px;
  height: 26px;
  text-align: center;
  padding: 4px;
  border-radius: 30px;
  background-color: #d1d1e6;
  font-size: 18px;
  font-weight: 500;
  color: #3734a9;
}
.Tracking .image-part .cards-for-people .people .text .transaction-details {
  color: #757095;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
}
.Tracking .image-part .people-2 {
  position: relative;
  left: 110px;
  z-index: 1;
}
.Tracking .image-part .people-3 {
  position: relative;
  left: 50px;
}
.Tracking .image-part .circle-dot {
  position: relative;
  top: -570px;
  left: 410px;
}
.Tracking .image-part .blue-circle {
  z-index: 0;
  position: relative;
  bottom: 315px;
  left: 250px;
  width: 132px;
  height: 162px;
}
.Tracking .image-part .orange-circle {
  position: relative;
  z-index: 0;
  bottom: 465px;
  left: -285px;
  width: 132px;
  height: 162px;
  border-radius: 20px;
}
.Tracking .image-part .green-circle {
  position: relative;
  z-index: 0;
  top: -315px;
  left: -50px;
  width: 132px;
  height: 162px;
  border-radius: 20px;
}

.Tracking .text-part {
  padding: 10px;
}

.Tracking .text-part .chooseUs {
  color: var(--sky-blue);
  font-size: 16px;
  padding-bottom: 20px;
}
.Tracking .text-part .heading {
  font-size: 50px;
  font-weight: 800;
  line-height: 48px;
}
.Tracking .text-part .text-details {
  padding: 20px 0;
  color: #505887;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  border-bottom: 2px solid #505887;
}

.Tracking .text-part .checking-services {
  padding: 30px 0;
  display: block;
}

.Tracking .text-part .checking-services .design {
  display: flex;
  gap: 10px;
  margin: 15px 0;
  color: #505887;
  font-size: 19px;
  font-weight: 500;
}
/* tracking section ends here  */

/* saving section starts form here  */

.saving {
  margin: 0 auto;
  padding: 60px 100px;
  display: flex;
  max-width: 100%;
  max-height: 700px;
  justify-content: space-between;
}
.saving-right {
  padding: 70px 0;
}
.saving-right .chooseUs {
  color: var(--sky-blue);
}

.saving-text-first {
  padding: 15px 0;
}
.saving-text-first h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 39px;
}
.saving-text-first p {
  padding: 30px 0;
  color: #505887;
  font-size: 18px;
  font-weight: 500;
}

.saving-text-second .legend {
  border-radius: 20px;
  opacity: 0.8;
  font-weight: 600;
  background: #c4c4c4;
  padding: 25px;
}
.saving-text-second p {
  font-size: 20px;
}
.saving-text-second .authors-name {
  padding: 15px 0;
}
.saving-left {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.container-for-hand {
  width: 486px;
  height: 540px;
  border-radius: 10px;
  background-color: var(--light-blue);
  z-index: 0;
  position: relative;
}
.black-coat {
  position: relative;
  top: -29%;
  z-index: 0;
}
.lines {
  position: absolute;
  left: -8%;
  top: 9%;
}
.balance-stats {
  position: absolute;
  top: 43%;
  left: -40%;
  z-index: 1;
}

/* Saving section ends here  */

/* features container starts from here  */
.Features {
  margin: 0 auto;
  padding: 60px 100px;
  max-width: 100%;
  /* max-height: 720px; */
  background-color: var(--light-blue);
}
.Features .features-headings {
  font-size: 71px;
  font-weight: 800;
}
.Features p {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0px;
}

.Features .container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.features-container {
  border-radius: 20px;
  width: 400px;
  height: 375px;
}
.container-with-pic {
  background-color: white;
  padding: 50px 30px;
}
.third-container {
  margin-bottom: 30px;
  gap: 60px;
  background-color: white;
  border-radius: 20px;
  width: 380px;
  height: 170px;
}

.container-with-pic h2 {
  font-size: 22px;
  font-weight: 800;
  padding-top: 20px;
}
.container-with-pic p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.third-container h1 {
  padding: 45px 30px;
  font-size: 22px;
  font-weight: 800;
}
.dot-dot-img {
  position: relative;
  max-width: 10% ;
  left: -9%;
  top: -55px;
}
/* features section ends here  */

/* testimonials section started here  */
.testimonials {
  margin: 0 auto;
  padding: 60px 100px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.testimonials h1 {
  font-size: 71px;
  font-weight: 800;
}
.testimonials .curve-line {
  position: absolute;
  right: 10%;
  top: 10%;
}

.testimonials p {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  max-width: 100%;
}
.testimonials-containers {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  gap: 5%;
}

.testimonials-legend {
  align-items: center;
  display: flex;
  width: 620px;
  height: 380px;
  padding: 20px;
  border-radius: 15px;
  justify-content: space-between;
}
.text-part h3 {
  font-size: 23px;
  font-weight: 500;
}
.text-part p {
  font-size: 20px;
  font-weight: 200;
}
.img-of-testomonial-lady,
.img-of-testomonial-boy  {
  width: 240px;
  height: 350px;
  padding: 20px 30px;
}

/* testimonials section ended here */

/* statistics sec starts form here  */
.stats-container {
  margin: 0 auto;
  background-color: var(--sky-blue);
  max-width: 100%;
  height: 256px;
  display: flex;
  justify-content: space-between;
   align-items: center;
  overflow: hidden;
}

.stats-text {
  color: white;
  font-size: 19px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats-text p {
  padding: 0 60px;
}
.stats-num h1 {
  color: white;
  font-size: 72px;
  font-weight: 800;
}
.subheading {
  display: flex;
  gap: 10px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.stat-img {
  right: 0;
}
/* statistics section ends here */

/* Recent blogs section starts form here  */
.blog-section {
  margin: 0 auto;
  padding: 60px 100px;
}
.blog-top-title {
  font-size: 71px;
  font-weight: 800;
}
.latest-blog {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
}
.best-practices {
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.readmore-btn {
  padding: 60px 0;
  font-size: 16px;
  font-weight: 500;
}
.readmore-btn a {
  color: #000;
}
.previous-blog {
  margin: 30px 0;
  display: flex;
  gap:3%;
  justify-content: space-between;
}
.blog-heading {
  font-size: 29px;
  font-weight: 700;
  padding-bottom: 20px;
}
.blog {
  color: #000;
}
#blog-2 {
  padding-bottom: 53px;
}
/* recent blogs ends here  */

/* frequently asked question starts from here  */
.question-section {
  margin: 0 auto;
  padding: 60px 100px;
  overflow: hidden;
}
.QA-heading {
  font-size: 71px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}

.blue-spiral {
  position: relative;
  top: 160px;
  left: -99px;
}
.orange-color-icon {
  position: relative;
  top: 10px;
  right: -105px;
}
.card-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

#card-with-ans {
  height: 105px;
}

#card-with-ans p {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0;
}

.QA-cards .card {
  width: 751px;
  height: 64px;
  border-radius: 10px;
  border: 1px solid #cfcfcf;
  margin: 10px;
  padding: 15px;
}

.ques-in-chatbox {
  font-size: 22px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}

.question-container {
  width: 340px;
  height: 420px;
  border-radius: 10px;
  border: 1px solid #cfcfcf;
  text-align: center;
  padding: 50px 0;
}

.text-area {
  margin: 30px;
  text-align: center;
}
.question-container p {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 60px;
}
.mail-btn {
  background-color: #ff7f5c;
  width: 250px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: none;
}
.mail-btn:hover {
  scale: 1.1;
  font-weight: bold;
  cursor: pointer;
}
/*frequently asked question section ends  here  */

/* get started section starts here  */
.get-started-section {
  max-width: 1200px;
  max-height: 438px;
  background-color: var(--sky-blue);
  margin: 0 auto;
  border-radius: 20px;
  padding: 60px 100px;
  text-align: center;
}

.get-started-section h1 {
  font-size: 56px;
  font-weight: 800;
  color: white;
  line-height: 45px;
  padding-bottom: 60px;
}
.get-started-btn {
  border-radius: 10px;
  background-color: #ff7f5c;
  width: 223px;
  height: 67px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
}
.get-started-btn:hover {
  scale: 1.1;
  font-weight: bold;
  font-size: 20px;
  padding: 0 15px 0 5px;
  cursor: pointer;
}

.get-started-section .images {
  position: absolute;
}
.images .vector-dot-image {
  position: relative;
  top: -45px;
  left: -100px;
  fill: #c4c4c4;
  opacity: 0.6;
  width: 148px;
  height: 148px;
}

.images .vertical-spring {
  position: relative;
  top: -165px;
  left: 899px;
}
.images .horizontal-spring {
  position: relative;
  transform: rotate(-90deg);
  left: -110px;
  bottom: -30px;
}
.images .small-cones {
  position: relative;
  left: -160px;
  top: 30px;
}
.images .big-cones {
  position: relative;
  right: -440px;
  top: 90px;
}
/* getting started section ends here  */

/* footer starts from here */
.footer {
  margin: 0 auto;
  padding: 60px 100px; 
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #e5e5ea;
}

.footer .head-text {
  font-size: 25px;
  color: #1b1c31;
  font-weight: 700;
}
.footer .footer-desc {
  color: #757095;
  font-size: 20px;
  font-weight: 500;
  padding: 30px 0;
}
.intro .social-media {
  display: inline-flex;
  gap: 20px;
}
.intro .social-media a:hover {
  scale: 1.5;
}
.footer .company ul {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 500;
}
.footer .company ul li {
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}
/* footer resournce  */
.footer .resources ul {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 500;
}
.footer .resources ul li {
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}

.footer .resources ul li a,
.footer .company ul li a {
  color: #181433;
}

.footer .email-part {
  display: inline-flex;
  padding-top: 30px;
}

.footer .email-part .email {
  border: none;
  padding: 10px;
  width: 280px;
  height: 52px;
  background: rgb(208, 208, 224);
  font-size: 18px;
  font-weight: 500;
}
.footer .email-part .Subscribe {
  padding: 14px 0;
  text-align: center;
  width: 149px;
  height: 52px;
  background-color: var(--sky-blue);
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.footer .email-part .Subscribe:hover {
  scale: 1.1;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
/* footer ends here  */

.copyright-txt {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #181433;
}
/* end of the css for design */

/* Animation added for the text at hero conatiner  */
.hero-left-part .hero-text h1,
.hero-left-part .hero-text p,
.hero-left-part .herobtns {
  animation: content-text 1500ms forwards ease-in-out;
  transform: translateY(-80px);
  opacity: 0;
}
@keyframes content-text {
  50% {
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.hero-right-part .hands img{
  animation: move-images 800ms forwards ease-in-out;
  transform: translateX(30%);
}
@keyframes move-images {
  to{
    transform: translateX(0);
  }
}